/*main styles*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: #777;
}

a.btn-blue,
btn-blue {
    background-color: aqua;
    color: #fff;
    border: 1px solid aqua;
    transition: all .3s;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 30px;
    text-transform: uppercase;
}

a.btn-blue:hover,
btn-blue:hover {
    background-color: #fff;
    border: 1px solid aqua;
    color: aqua;
}

section {
    padding-top: 60px;
}


/*menu styles*/

#main-nav {
    background-color: transparent;
    border: 0;
    transition: all 0.5s;
}

#main-nav div div ul li a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

#main-nav div div a.navbar-brand {
    font-size: 2em;
    font-family: 'Droid Serif', sans-serif;
    text-transform: none;
    color: #fff;
}

#main-nav div div a:hover {
    color: #777;
}

#main-nav.active {
    background-color: aqua;
    opacity: 0.5;
}


/*main header styles*/

header#main-header {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/header/pictures_on_the_wall.jpg);
    height: 100vh;
    position: relative;
    background-size: cover;
}

header div.header-caption {
    top: 50%;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

header div.header-caption h1 {
    color: #fff;
    margin: 45px 0;
    font-size: 4em;
}

header div.header-caption h2 {
    color: #fff;
    font-family: 'Droid Serif', sans-serif;
    font-size: 2.5em;
}


/*services styles*/

section#services {
    position: relative;
    padding-bottom: 100px;
}

section#services div.container div.row {
    margin: 50px;
}

section#services div.container div.row h2 {
    color: #000;
    font-size: 3em;
}

section#services div.container div.row p.opis {
    font-style: italic;
    font-family: 'Droid Serif', sans-serif;
}
    
section#services div.container div.row i {
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: aqua;
    border: solid 1px #fff;
    border-radius: 50px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    transition: 1s;
    font-size: 40px;
}

section#services div.container div.row i:hover {
    background-color: #fff;
    color: aqua;
    border: solid 1px aqua;
    transform: rotate(360deg);
}

section#services div.container div.row div.col-lg-4 h3 {
    color: #000;
    font-size: 20px;
}


/*portfolio styles*/

section#portfolio {
    background-color: darkgray;
    padding-bottom: 100px;
}

section#portfolio div.container div.row {
    padding-top: 50px;
}

section#portfolio div.container div.row h2 {
    color: #000;
    font-size: 3em;
    padding: 20px;
}

section#portfolio div.container div.row p {
    font-size: 20px; 
    font-style: italic;
    font-family: 'Droid Serif', sans-serif;
    padding-bottom: 20px;
}

section#portfolio div.container div.row div.col-lg-4 {
    margin-bottom: 20px;
}

section#portfolio div.container div.row div.col-lg-4 div.text {
    width: 350px;
    background-color: #fff;
}

section#portfolio div.container div.row div.col-lg-4 div.text h2 {
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 5px;
}

section#portfolio div.container div.row div.col-lg-4 div.text p {
    font-size: 16px;
}

section#portfolio div.container div.row div.col-lg-4 div.img {
    overflow: hidden;
    height: 250px;
    width: 350px;
}

section#portfolio div.container div.row div.col-lg-4 div.img div.tuo {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 1;
    border: 10px;
    background-position: center;
    transition: all 0.5s;
    overflow: hidden;
}

section#portfolio div.container div.row div.col-lg-4 div.img div.tuo div {
    background-color: rgba(0, 255, 255, 0.5);
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0;
}

section#portfolio div.container div.row div.col-lg-4 div.img div.tuo div i {
    font-size: 40px;
    color: #fff;
    transform: translateY(250%);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-1 {
    background-image: url(../img/portfolio/chestnut_on_bracket.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-2 {
    background-image: url(../img/portfolio/typing_on_laptop.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-3 {
    background-image: url(../img/portfolio/child_with_blue_paint.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-4 {
    background-image: url(../img/portfolio/chaotic_paint.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-5 {
    background-image: url(../img/portfolio/house_with_blue_doors.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div#item-6 {
    background-image: url(../img/portfolio/box_of_cookies.jpg);
}

section#portfolio div.container div.row div.col-lg-4 div.img div.tuo:hover {
    transform: scale(1.2);
}

section#portfolio div.container div.row div.col-lg-4 div.img div.tuo div:hover {
    opacity: 1;
    cursor: pointer;
}
